<!-- Fecha: 08 de diciembre del 2022 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Formatted Attr</title>
</head>
<body>
    <time-formatted-attr id="elem" hour="numeric" minute="numeric" second="numeric"></time-formatted-attr>

    <script>
        setInterval(() => elem.setAttribute('datetime', new Date()), 1000);
    </script>
    <script src="../js/timeFormattedAttr.js"></script>
</body>
</html>
