<!-- Fecha: 08 de diciembre del 2022 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Formatted</title>
</head>
<body>
    <time-formatted 
        datetime="2022-12-09"
        year="numeric" month="long" day="numeric"
        hour="numeric" minute="numeric" second="numeric"
        time-zone-name="short"
    ></time-formatted>

    <script src="../js/time-formatted.js"></script>
</body>
</html>